<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="rounded-full p-3" style="background: linear-gradient(180deg, rgba(33, 150, 243, 0.5) 10%, rgba(33, 150, 243, 0) 40%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center rounded-full shadow-2xl">
                            
                <h5 class="font-bold  mb-3">
                    Üzgünüz, ancak ulaşmaya çalıştığınız sayfa mevcut değil veya taşınmış olabilir.
                </h5>
                <p-button label="Ana Sayfaya Dön" (click)="goHome()" class="p-button-lg"></p-button>
            </div>
        </div>
    </div>
</div>
